@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
}

.logo{
	float:left;
	width:350px;
	height:250px;
}

header{
	
	text-align:center;
}

/* tìm kiếm */
.search{
	margin-left:300px;
	height:40px;
}

.search input[type=text]{
	width:300px;
	height:40px;
	border-bottom-left-radius:15px;
	border-top-left-radius:15px;
	padding-left:10px;	
}

.search input[type=submit]{
	width:50px;
	height:45px;
	background:black;
	color:white;
	font-weight:bold;
	border-top-right-radius:15px;
 	border-bottom-right-radius:15px;	
}

.search input[type=submit]:hover{
	cursor:pointer;
}

/* đăng nhập*/

.login{
	float:left;
	padding-top:30px;
	padding-left:180px;
}
.login a{
	text-decoration:none;
}

.tragop{
	float:left;
	padding-top:30px;
	padding-left:50px;
}
.tragop p{
	display:inline;
}

.tragop a{
	text-decoration:none;
}
.giohang{
	float:left;
	padding-top:30px;
	padding-left:50px;
}

.giohang p{
	display:inline;
}

.giohang a{
	text-decoration:none;
}	
/* menu */

.menu a{
	text-decoration:none;
}

body{
        margin: 0;
    }
.menu ul{
		clear:both;
        margin: 0;
        padding: 0;
        padding-top: 13px;
        list-style: none;
        background-color:#FC0;
		font-size:20px;
}

.menu li{
        width: 150px;
     
}

.menu > ul{
        height: 50px;
}

.menu > ul > li{
        display: inline-block;
        border-right: 1px solid #dddddd;
        position: relative;
		font-weight:bold;
}

.menu > ul > li:first-child{
	border:none;
}

.menu > ul > li:hover{
	font-style:italic;
}

.menu > ul > li a:hover{
	color:white;
}
	
.menu > ul > li > ul li{
        padding: 5px 0;
        border-bottom: 1px solid #dddddd;
}
	
ul li:last-child{
        border: none;
}

h1{
	text-align:center;
}

table{
	margin-left:150px;
	margin-bottom:10px;
	
}

table {
	border: 1px solid red;
    border-collapse: collapse;
	
}

th{
	padding-left:50px;
}

tr{
	padding-top:10px;
	border-bottom:1px solid;
}

td{
	text-align:center;
	font-weight:bold;
}

.img{
	width:150px;

}
table td#cost{
	font-size: 20px;
	color:#FC0;
}

input[type=button]{
	border-radius:10px;
	margin-bottom:20px;
	margin-right:162px;
	width:100px;
	height:50px;
	float:right;
	background:black;
	color:white;
}

footer{
	
	clear:right;
	padding-top:3px;	
	background:black;
	color:white;
	text-align:center;
}


